<div class="rubric-poeme-list-container" fxLayout fxLayoutAlign="center center" fxFlex="100%" fxLayoutWrap>
  <div class="search-container" fxLayout fxLayoutAlign="center center" fxFlex="100%">
    <div class="search-panel" ngClass.sm="search-panel-sm" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field fxFlex="80%"
        floatLabel="never">
        <input
          matInput
          placeholder="Recherche" [(ngModel)]="searchCritaria">
      </mat-form-field>
      <div fxLayout>
        <span class="search-action" fxLayout fxLayoutAlign="center center">
          <mat-icon fontSet="fa" class="fa-search"></mat-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="poeme-card-list" fxLayout fxLayoutAlign="center center" fxFlex="100%">
    <div class="poeme-card-panel" fxLayout fxLayoutAlign="center center" fxFlex="90%" fxLayoutWrap>
      <pdg-poeme-card [poeme]="poeme" (click)="openPoemeDialog()"></pdg-poeme-card>
      <pdg-poeme-card [poeme]="poeme"></pdg-poeme-card>
      <pdg-poeme-card [poeme]="poeme"></pdg-poeme-card>
      <pdg-poeme-card [poeme]="poeme"></pdg-poeme-card>
      <pdg-poeme-card [poeme]="poeme"></pdg-poeme-card>
      <pdg-poeme-card [poeme]="poeme"></pdg-poeme-card>

    </div>
  </div>

</div>
