<div class="rubric-poeme-list-container" fxLayout fxLayoutAlign="center center" fxFlex="100%" fxLayoutWrap>
  <div class="search-container" fxLayout fxLayoutAlign="center center" fxFlex="100%">
    <div class="search-panel" ngClass.sm="search-panel-sm" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field fxFlex="80%"
        floatLabel="never">
        <input
          matInput
          placeholder="Recherche" [(ngModel)]="searchCritaria">
      </mat-form-field>
      <div fxLayout>
        <span class="search-action" fxLayout fxLayoutAlign="center center">
          <mat-icon fontSet="fa" class="fa-search"></mat-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="poeme-card-list" fxLayout fxLayoutAlign="center center" fxFlex="100%">

    <div class="poeme-card-panel" fxLayout fxLayoutAlign="center center" fxFlex="90%" fxLayoutWrap>

      <div class="poeme-card-wrapper">
        <div class="poeme-card" fxLayout="column" fxFlex="100%">
          <div class="poeme-card-image" fxLayout  fxFlex="40%">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU35QC_wO__VOznw-lzmSvYq9is9_yOq9pQfCB1IiISbvn-xb_" alt="bethio"  fxLayout fxFlexFill>
          </div>
          <div class="poeme-card-info" fxLayout="column"  fxFlex="auto">
            <div class="title" fxLayout fxLayoutAlign="center center" >
              <span>L'obsolescence de l'homme </span>
            </div>
            <div class="resume" fxLayout>
              fjgfgfgj
            </div>
            <div class="link" fxLayout>
              lllll
            </div>
          </div>
        </div>
      </div>

      <div class="poeme-card-wrapper">
        <div class="poeme-card" fxLayout fxFlex="100%">
        </div>
      </div>
      <div class="poeme-card-wrapper">
        <div class="poeme-card" fxLayout fxFlex="100%">
        </div>
      </div>
      <div class="poeme-card-wrapper">
        <div class="poeme-card" fxLayout fxFlex="100%">
        </div>
      </div>
      <div class="poeme-card-wrapper">
        <div class="poeme-card" fxLayout fxFlex="100%">
        </div>
      </div>

    </div>
  </div>

</div>
