@import '../../shared/scss/variables.scss';
$search-container-height: 75px;
.rubric-poeme-list-container {
    min-height: calc(100vh - 200px);
    height: auto;
    .search-container {
        // background-color: #e5eaeefd;
        height: $search-container-height;
        .search-panel {
            width: 700px;
        }
        .search-panel-sm {
            width: 100%;
        }
        .search-action {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        }
        mat-icon.fa-search.mat-icon.fa {
            font-size: 25px;
            color: $h1-but-color;
        }
    }
    .poeme-card-list {
        min-height: calc(100% - #{$search-container-height});
        height: auto;
        .poeme-card-panel {
            // background-color: #e5eaeefd;
            height: auto;
            .poeme-card-wrapper {
                width: 330px;
                height: 440px;
                padding: 15px;
                .poeme-card {
                    border-radius: 6px;
                    background-color: white;
                    &:hover {
                        box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.1);
                    }
                    .poeme-card-image {
                        background-color: blue;
                        border-radius: 6px;
                        height: 40%;
                        img {
                            border-radius: 6px 6px 0 0;
                        }
                    }
                    .poeme-card-info {
                        color: #1a4636; // height: 60%;
                        .title {
                            width: 100%;
                            height: 120px;
                            font-weight: bold;
                            font-size: 30px;
                            text-align: center;
                            span {
                                max-height: 100%;
                                overflow: hidden;
                            }
                        }
                        .author {
                            height: 80px;
                            text-align: center;
                            overflow: hidden; // background-color: red;
                            .by {
                                height: 30px;
                            }
                            .author-name {
                                height: 70px;
                                font-size: 20px;
                            }
                        }
                        .link {
                            div{
                                height: 46px;
                                border-top: 0.5px solid $body-background-c;

                            }
                        }
                    }
                }
            }
        }
    }
}
