@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../src/app/shared/scss/materalByPass.scss';

body{
  background-color: #e5eaeefd;
}
._body{
	margin: 0px;
}
p{
	margin: 0px;
}

.myClass mat-dialog-container {
  padding: 0px;
}

 /* connections views */
/* @import 'app/shared/scss/connection.scss'; */
