<div class="dialog-content" fxLayout="column" fxLayoutAlign="center center">
  <div class="picture">
    <img fxLayout fxFlexFill src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU35QC_wO__VOznw-lzmSvYq9is9_yOq9pQfCB1IiISbvn-xb_" alt="bethio" >
  </div>
  <div class="poeme-text-info">
    <div class="poeme-header">
      <div class="poeme-title">
        <span>L’appel universel (7)</span>
      </div>
      <div class="header-info" fxLayout fxLayoutGap="10px">
        <span class="poeme-source">17 AVRIL 2018</span>
        <span class="separator">-</span>
        <span class="poeme-date">MARDI 6 FEVRIER 2018</span>
      </div>
    </div>
    <div class="poeme-text">
      <div>
        <p>La Source qu’on appelle Dieu ignore certes la sécheresse.</p>
        <p>Le cœur de l’homme, où Dieu vit, est la forteresse</p>
        <p>Dont les frontières reculent, par la seule Grâce de Dieu,</p>
        <p>À mesure qu’Il inculque la science au bienheureux.</p>
      </div>
      <div>
          <p>Par la parole du Cheikh : « Que ceux qui viennent sachent qu’ils</p>
          <p>Viendront en terre de grâces, ceux qui m’entendent sachent qu’ils</p>
          <p>Témoignent du renouveau de ma conscience ! Et que</p>
          <p>Ceux qui aiment Cheikh Bethio rendent encore grâce à Dieu ! »</p>
      </div>
      <div>
        <p>Par la parole du Cheikh : « Certes je serai ravi</p>
        <p>De tous et souhaiterai que tous bénéficient,</p>
        <p>Grâce à Serigne Saliou, de ce qu’ils n’avaient pas,</p>
        <p>Qu’ils ne connaissaient pas et qu’ils ne pouvaient pas. »</p>
      </div>
      <div>
        <p>Bienheureux qui rencontre le seul Point de la croix</p>
        <p>Où les branches se rencontrent, le Croisement de la foi</p>
        <p>Où les voies se rencontrent, ô l’Esprit de la Loi !</p>
      </div>
    </div>
    <div class="poeme-author" fxLayout fxLayoutAlign="start center">
      <span>Ahmadou Bamba Ndiaye</span>
    </div>
    <div class="poeme-action" fxLayout fxLayoutAlign="space-between center">
      <div class="love">
          <mat-icon fontSet="fa" class="fa-heart"></mat-icon>
          <span>J'aime</span>
      </div>
      <div class="share">
        <mat-icon fontSet="fa" class="fa-share"></mat-icon>
        <span>Partager</span>
      </div>
      <div class="save">
        <mat-icon fontSet="fa" class="fa-save"></mat-icon>
        <span>Enregister</span>
      </div>
      <div class="abus">
        <mat-icon fontSet="fa" class="fa-exclamation-triangle"></mat-icon>
        <span>Signaler</span>
      </div>
    </div>

  </div>
  <div class="comments-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="comments-panel">
      <div class="statistics" fxLayout fxLayoutAlign="space-between center">
        <span class="share-stats">2 partages</span>
        <span class="comment-stats">8 commentaires</span>
      </div>

      <div class="current-comment comment" fxLayout fxLayoutGap="10px" fxLayoutAlign="start start">
          <div class="user-picture" fxFlex="40px"></div>
          <textarea class="comment"  fxFlex="auto"></textarea>
          <!-- <input type="text" class="comment"  fxFlex="auto"> -->
          <!-- <span class="comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum delectus nobis iusto, animi alias similique nam amet quis maiores numquam dignissimos minima enim accusamus officiis pariatur at consequuntur ullam.
          </span> -->
      </div>

      <div class="comments-list" fxLayout="column">

        <div class="comment" fxLayout fxLayoutGap="10px" fxLayoutAlign="center start">
          <div class="user-picture" fxFlex="40px"></div>
          <span class="comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum delectus nobis iusto, animi alias similique nam amet quis maiores numquam dignissimos minima enim accusamus officiis pariatur at consequuntur ullam.
          </span>
        </div>

        <div class="comment" fxLayout fxLayoutGap="10px" fxLayoutAlign="center start">
          <div class="user-picture" fxFlex="40px"></div>
          <span class="comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum delectus nobis iusto, animi alias similique nam amet quis maiores numquam dignissimos minima enim accusamus officiis pariatur at consequuntur ullam.
          </span>
        </div>

        <div class="comment" fxLayout fxLayoutGap="10px" fxLayoutAlign="center start">
          <div class="user-picture" fxFlex="40px"></div>
          <span class="comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum delectus nobis iusto, animi alias similique nam amet quis maiores numquam dignissimos minima enim accusamus officiis pariatur at consequuntur ullam.
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
