<div class="signup-container" fxLayout fxLayoutAlign="center center" fxFlex="100%">
    <div class="signup-form-container connection-form-container" fxLayout="column">

        <div class="form-title" fxLayout fxLayoutAlign="center end">
          <span>S'enregistrer</span>
        </div>

        <form [formGroup]="signupForm"
          novalidate
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
          fxFlex>

          <!-- firstname -->
          <mat-form-field>
            <input matInput placeholder="Prenom" formControlName="firstName" required>
            <mat-error *ngIf="signupForm.controls.firstName.invalid">{{getErrorMessage('firstName')}}</mat-error>
          </mat-form-field>

          <!-- lastname -->
          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="lastName" required>
            <mat-error *ngIf="signupForm.controls.lastName.invalid">{{getErrorMessage('lastName')}}</mat-error>
          </mat-form-field>

          <!-- email -->
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="signupForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>

          <!-- password -->
          <mat-form-field>
            <input matInput
              type="password"
              placeholder="Mot de passe" formControlName="password" required>
            <mat-error *ngIf="signupForm.controls.password.invalid">{{getPwdErrorMessage('password')}}</mat-error>
          </mat-form-field>

          <!-- password confirm -->
          <mat-form-field>
            <input matInput
              type="password"
              placeholder="Confirmation de mot de passe"
              formControlName ="pwdConfirm" required/>
              <mat-error>{{getPwdErrorMessage('pwdConfirm')}}</mat-error>
          </mat-form-field>

          <button mat-button mat-raised-button >Valider</button>

        </form>
      </div>
</div>
