<div class="user-container" fxLayout fxLayoutAlign="start start">

  <div class="picture-action-container" fxLayout="column" fxFlex="0 0 auto">

    <div class="picture-panel" fxLayout fxLayoutAlign="center center">
      <div class="load-btn" fxLayout fxLayoutAlign="center center" matTooltip="Fonctionnalité à venir">
        <span>Choisir</span>
      </div>
    </div>
<!-- 
    <div class="actions" fxLayout="column" fxFlex="1 1 auto">
        <button mat-button class="btn-danger">Supprimer</button>
        <button mat-button class="btn-success">Archiver</button>
        <button mat-button class="btn-default">Contacter</button>
    </div> -->
  </div>

  <div class="infos" fxLayout="row wrap" fxFlex="1 1 auto">

    <div class="actions" fxLayout="row nowrap" fxFlex="1 1 auto" fxLayoutGap="10px" fxLayoutAlign="center center">
        <button mat-button class="btn-danger">Supprimer</button>
        <button mat-button class="btn-success">Archiver</button>
        <button mat-button class="btn-default">Contacter</button>
    </div>

    <!-- nom -->
    <div class="info-group">
      <label>Nom</label>
      <div class="row-info">
        Sow
      </div>
    </div>

    <!-- Prénom -->
    <div class="info-group">
        <label>Prénom</label>
        <div class="row-info">
          Moussa
        </div>
    </div>

    <!-- Email -->
    <div class="info-group">
        <label>Email</label>
        <div class="row-info">
          m.sow@htomail.fr
        </div>
    </div>

    <!-- Status -->
    <div class="info-group">
        <label>Statut</label>
        <div class="row-info">
          Lecteur
        </div>
    </div>

    <!-- inscription date -->
    <div class="info-group">
        <label>Date d'inscription</label>
        <div class="row-info">
          le 27/01/2001
        </div>
    </div>

    <!-- comment List -->
    <div class="info-group">
        <label>Commentaires (1025)</label>
        <div class="row-info">
          <mat-icon fontSet="fa" class="fa-comments"></mat-icon>
        </div>
    </div>

    <!-- poem List -->
    <div class="info-group">
        <label>Poèmes (12)</label>
        <div class="row-info">
         <mat-icon fontSet="fa" class="fa-book"></mat-icon>
        </div>
    </div>

    <!-- favoris List -->
    <div class="info-group">
        <label>Favoris (6)</label>
        <div class="row-info">
            <mat-icon fontSet="fa" class="fa-heart"></mat-icon>
        </div>
    </div>

  </div>

</div>