<div class="home-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="news-container" fxLayout fxLayoutAlign="center center">
        carousel des 10 derniers poemes;
    </div>
    <div class="rubric-container" fxLayout fxLayoutWrap fxLayoutAlign="center center" fxLayoutGap="20px">
            <!-- <div class="rubric-container" fxLayout fxLayoutWrap fxLayoutAlign="center center" fxLayoutGap="10px"> -->
        <div class="rubric" fxLayout fxLayoutAlign="center center">
            <span>Dieureudieuty</span>
            <span>Serigne</span>
            <span>Bethio</span>
        </div>
        <div class="rubric" fxLayout fxLayoutAlign="center center">
            <span>Histoires sacrées</span>
        </div>
        <div class="rubric" fxLayout fxLayoutAlign="center center">
            <span>Gatt SAFF</span>
        </div>
        <div class="rubric" fxLayout fxLayoutAlign="center center">
            <span>L'originalité spirituelle</span>
        </div>
        <div class="rubric fixCssAno" fxLayout fxLayoutAlign="center center">
            <span>L'esprit universel</span>
        </div>     
        <div class="rubric" fxLayout fxLayoutAlign="center center">
            <span>Les plus utilisés</span>
        </div>      
    </div>
</div>

