.news-container {
	width: 100%;
	height: 400px;
	background-color: #ece7de;
	// border: 1px  dotted green;
}
.rubric-container{
	width: 100%;
	height: auto;
	padding: 10px 0px 10px 0px;
}

.rubric {
	height: 300px;
	width: 10px;
	width: 35%;
	min-width: 300px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: red;
}

.fixCssAno{
	margin-left: -20px;
}
