<div class="pdg-container">
	<div class="pdg-header" fxLayout fxLayoutAlign="space-between center">
		<div class="pdg-logo" fxLayout fxLayoutAlign="center center" fxFlexOffset="20px">
			<span class="logo" style="background-color: red"></span>
			<span class="logo-title">les Publications de grâce</span>
		</div>
		<div class="header-action" fxLayoutGap="20px">
			<a routerLink="/home">Accueil</a>
			<a routerLink="/connection/login">Se connecter</a>
			<a routerLink="/connection/signup">S'inscrire</a>
			<a>Se déconnecter</a>
		</div>
	</div>
	<div class="pdg-body">
		<router-outlet></router-outlet>
	</div>
	<div class="pdg-footer"></div>
</div>
