<!-- <div class="login-container" fxLayout fxLayoutAlign="center center"> -->
<div class="login-container" fxLayout fxLayoutAlign="center center" fxFlex="100%">

  <div class="login-form-container connection-form-container" fxLayout="column">

    <div class="form-title" fxLayout fxLayoutAlign="center end">
      <span>Connection</span>
    </div>
    <form [formGroup]="loginForm"
      novalidate
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      fxFlex>

      <!-- email -->
      <mat-form-field>
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field>
        <input matInput placeholder="Mot de passe" formControlName="password" required>
        <mat-error *ngIf="loginForm.controls.password.invalid">{{getPwdErrorMessage()}}</mat-error>
      </mat-form-field>

      <!-- <div class="btn-validate"> -->
        <button mat-button mat-raised-button >Valider</button>
      <!-- </div> -->


    </form>

  </div>
</div>
