<div class="account-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="account-card" fxLayout="column" fxLayoutAlign="start center">
    <div class="account-card-header" fxLayout fxLayoutAlign="start center">
        <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/p160x160/13529241_10210504989000626_368577499800934792_n.jpg?oh=07aeb4f52d43d764a34e35a91e8eb150&oe=5B4433AF" alt="">
        <span>Mamadou Ndiaye (admin)</span>
    </div>

    <div class="account-chapters" fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="1 0 100%">

      <div class="account-chapter-card user-chapter"
        (click)="goTo('/account/users')"
        fxLayout="column" fxFlex="200px" fxFlex.xs="170px" fxLayoutAlign="center center" >
        <div class="icon" fxLayout fxLayoutAlign="center center">
          <mat-icon fontSet="fa" class="fa-users"></mat-icon>
        </div>
        <span>Utilisateurs</span>
      </div>

      <div class="account-chapter-card profil-chapter" fxLayout="column" fxFlex="200px" fxFlex.xs="170px" fxLayoutAlign="center center">
          <div class="icon" fxLayout fxLayoutAlign="center center">
            <mat-icon fontSet="fa" class="fa-cogs"></mat-icon>
          </div>
          <span>Mon profile</span>
      </div>

      <div class="account-chapter-card favorite-chapter" fxLayout="column" fxFlex="200px" fxFlex.xs="170px" fxLayoutAlign="center center">
          <div class="icon" fxLayout fxLayoutAlign="center center">
            <mat-icon fontSet="fa" class="fa-heart"></mat-icon>
          </div>
          <span>Mes favoris</span>
      </div>
      <div class="account-chapter-card " fxLayout="column" fxFlex="200px" fxFlex.xs="170px" fxLayoutAlign="center center">
          <div class="icon" fxLayout fxLayoutAlign="center center">
            <mat-icon fontSet="fa" class="fa-book"></mat-icon>
          </div>
          <span>Mes Poèmes</span>
      </div>
      <div class="account-chapter-card " fxLayout="column" fxFlex="200px" fxFlex.xs="170px" fxLayoutAlign="center center">
          <div class="icon" fxLayout fxLayoutAlign="center center">
            <mat-icon fontSet="fa" class="fa-hourglass"></mat-icon>
          </div>
          <span>Statistiques</span>
      </div>
      <div class="account-chapter-card " fxLayout="column" fxFlex="200px" fxFlex.xs="170px" fxLayoutAlign="center center">
          <div class="icon" fxLayout fxLayoutAlign="center center">
            <mat-icon fontSet="fa" class="fa-comments"></mat-icon>
          </div>
          <span>Tous les commentaires</span>
      </div>
      <div class="account-chapter-card " fxLayout="column" fxFlex="200px" fxFlex.xs="170px" fxLayoutAlign="center center">
          <div class="icon" fxLayout fxLayoutAlign="center center">
            <mat-icon fontSet="fa" class="fa-archive"></mat-icon>
          </div>
          <span>Tous les poemes</span>
      </div>
    </div>
  </div>
</div>
