<!-- <div class="login-container" fxLayout fxLayoutAlign="center center"> -->
<div class="remember-pwd-container" fxLayout fxLayoutAlign="center center" fxFlex="100%">

    <div class="remember-pwd-form-container connection-form-container" fxLayout="column">

      <div class="form-title" fxLayout fxLayoutAlign="center end">
        <span>Mot de passe oublié</span>
      </div>

      <!-- formulaire de regeneration de pwd -->
      <form [formGroup]="rememberPwdForm"
        novalidate
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        fxFlex>

        <!-- email -->
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="rememberPwdForm.controls.email.invalid">
            {{getErrorMessage('email')}}
          </mat-error>
        </mat-form-field>

        <!-- password -->
        <mat-form-field>
          <input matInput placeholder="Mot de passe" formControlName="password" required>
          <mat-error *ngIf="rememberPwdForm.controls.password.invalid">
            {{getPwdErrorMessage('password')}}
          </mat-error>
        </mat-form-field>

        <!-- password confirm -->
        <mat-form-field>
          <input matInput
            placeholder="Confirmation de mot de passe"
            formControlName="pwdConfirm" required/>
            <mat-error *ngIf="rememberPwdForm.controls.pwdConfirm.invalid">{{getPwdErrorMessage('pwdConfirm')}}</mat-error>
        </mat-form-field>

        <button mat-button mat-raised-button >Valider</button>

    </form>

      <!-- message de confirmation envie email -->
      <div class="remember-pwd-message"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex
        *ngIf="false">
        <span>
          Un lien vient de vous être envoyé. Merci de consulter votre boite de messagerie.
        </span>
      </div>

    </div>
</div>
