<div class="user-container" fxLayout fxLayoutAlign="start start">

  <div class="picture-action-container" fxLayout="column" fxFlex="0 0 auto">

    <div class="picture-panel" fxLayout fxLayoutAlign="center center">
      <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/p160x160/13529241_10210504989000626_368577499800934792_n.jpg?oh=07aeb4f52d43d764a34e35a91e8eb150&oe=5B4433AF" alt="">
    </div>
  </div>

  <div class="infos" fxLayout="row wrap" fxFlex="1 1 auto">

    <!-- nom -->
    <div class="info-group">
      <label>Nom</label>
      <div class="row-info">
        Sow
      </div>
    </div>

    <!-- Prénom -->
    <div class="info-group">
        <label>Prénom</label>
        <div class="row-info">
          Moussa
        </div>
    </div>

    <!-- Email -->
    <div class="info-group">
        <label>Email</label>
        <div class="row-info">
          m.sow@htomail.fr
        </div>
    </div>

    <!-- Status -->
    <div class="info-group">
        <label>Statut</label>
        <div class="row-info">
          Lecteur
        </div>
    </div>

    <!-- inscription date -->
    <div class="info-group">
        <label>Date d'inscription</label>
        <div class="row-info">
          le 27/01/2001
        </div>
    </div>

    <!-- comment List -->
    <div class="info-group">
        <label>Commentaires (1025)</label>
        <div class="row-info">
          <mat-icon fontSet="fa" class="fa-comments"></mat-icon>
        </div>
    </div>

    <!-- poem List -->
    <div class="info-group">
        <label>Poèmes (12)</label>
        <div class="row-info">
         <mat-icon fontSet="fa" class="fa-book"></mat-icon>
        </div>
    </div>

    <!-- favoris List -->
    <div class="info-group">
        <label>Favoris (6)</label>
        <div class="row-info">
            <mat-icon fontSet="fa" class="fa-heart"></mat-icon>
        </div>
    </div>

    <div class="resume">
      <label>Résumé</label>
      <div class="resume-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, officia a blanditiis minus, libero rem quisquam tempore esse, possimus odio modi nostrum quaerat beatae! Voluptatum reiciendis maxime officia sint a animi culpa voluptate officiis sunt sed nemo quod, odit rem. Quas expedita ab amet quibusdam praesentium obcaecati qui beatae debitis veritatis dignissimos dolores maxime, corporis, itaque placeat sint nostrum fugiat aliquam commodi quod possimus hic quo perspiciatis. Laboriosam, excepturi aliquam ex similique quis deserunt labore? Sed laborum sunt quos ipsum porro, non quis dolorem nemo officia eligendi corporis dignissimos vitae, voluptatibus voluptas, atque quibusdam? Voluptate ratione alias fugiat recusandae nemo.
      </div>
    </div>

    <div class="actions" [fxHide]="onUpDate" fxLayout="row nowrap" fxFlex="1 1 auto" fxLayoutGap="10px" fxLayoutAlign="center end">
      <button mat-button class="btn-danger">Supprimer</button>
      <button mat-button class="btn-success">Archiver</button>
      <button mat-button class="btn-default">Contacter</button>
    </div>

    <div class="actions" [fxShow]="onUpDate" fxLayout="row wrap" fxFlex="1 1 auto" fxLayoutGap="10px" fxLayoutAlign="center end">
        <button mat-button class="btn-danger" (click)="openFenceDialog()">
          Clôturer mon compte</button>
        <button mat-button class="btn-success" (click)="goToUpdatePage()" matTooltip="Modifier mes infos">
          Modifications</button>
        <button mat-button class="btn-default" (click)="openContactDialog()">
          Nous contacter</button>
        <button mat-button class="btn-success" matTooltip="Modification du mot de passe">
          Mot de passe</button>
      </div>

  </div>

</div>
